extends layout

block style
	// codemirror.css must come first; I overwrite some properties.
	link(rel='stylesheet', href='/style/vendor/codemirror.css')
	link(rel='stylesheet', href='/style/index.css')


block content
	div#buttons
		button#checkButton(type='button')
			i(class='fa fa-check')
		button#exerciseButton
			i(class='fa fa-list')
		button#hintButton
			i(class='fa fa-puzzle-piece')
		button#bragButton
			i(class='fa fa-envelope')
		button#aboutButton(type='button')
			i(class='fa fa-info-circle')
		a(href='//github.com/andy-hanson/logic-online' target='_blanck')
			button#githubButton
				i(class='fa fa-github')
				//github-alt
	div#about.textBubble
		div.title About
		span.
			Key commands use Ctrl + Alt.
		table#aboutKeys
		div.
			Bugs? Probably!
		a(href='mailto:hansoa2@rpi.edu') hansoa2@rpi.edu
	div#brag.textBubble
		form#bragForm
			div.title Brag
			div.formTitle Email To
			div
				input#emailTo(type='text')
			div.formTitle Your Name
			div
				input#userName(type='text')
			div.formTitle Comment
			div
				textarea#comment(rows=10)
			div
				input#bragSubmit(type='submit' value='Send')
	div#exercises.textBubble
		div.title Exercises
		table#exercisesTable
	div#explain.textBubble
		div#explainTitle.title
			span Exercise
			span#exerciseNumber
		div#explainText
	div#hint.textBubble
		div#hintTitle.title Hint
		span#hintText
	div#checkSuccess.checkResult.textBubble
		span Valid proof!
		span#checkSuccessNPremises
		span premises on lines
		span#checkSuccessPremises
		span .
	div#checkFail.checkResult.textBubble

	div#code
		div#setup
		div#editor
		div#finish

block script
	script(src='/script/index.js')
