doctype html
html
	head
		title Logic Online
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(rel='icon', href='/image/icon.png')
		link(rel='stylesheet', href='/style/layout.css')
		link(rel='stylesheet', href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css")
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Philosopher|Droid+Sans+Mono|Convergence|Clicker+Script|Open+Sans:700|Aclonica')
		block style
		block script

	body
		div#cover
		block content
