doctype html
html
	body
		span#userName
			= userName
		span  completed exercise #{''}
		a(href=exerciseURL)#exerciseNumber
			= exerciseNumber
		span .
		if comment
			span  They said:
			div#comment
				= comment
		span Here is their solution:
		div#solution
			= solution
