@require 'layout'

#buttons
	width 200px
	margin-bottom 12px

#code
	centered()
	width 800px

.CodeMirror
	font-code()
	font-size 16px
	height auto

.CodeMirror-scroll
	overflow-y hidden
	overflow-x auto

#setup .CodeMirror
	border-radius-top 20px

#editor .CodeMirror
	border-style solid
	border-width 1px
	border-color #aaa
	margin-y 5px
#editor .CodeMirror-focused
	border-color black

#finish .CodeMirror
	border-radius-bottom 20px


#brag
	grad-bg #ffc, #fff

.bragResult
	centered()
	font-size 20px
	margin-bottom 8px
	border-radius 12px

#bragSuccess
	@extend .bragResult
	width 100px
	background greenyellow

#bragFail
	@extend .bragResult
	width 300px
	font-fail()
	color white
	background darkred

#brag div
	text-align center

#brag .formTitle
	font-form-title()

#brag input
	font-dense-text()
	margin-bottom 16px

#brag textarea
	centered()
	font-dense-text()
	width 400px
	font-size 16px

#bragSubmit
	background forestGreen
	color white
	border-radius 10px
	border-style none
	centered()
	font-form-title()
	font-size 150%

#bragSubmit:hover
	color yellow


#explain
	grad-bg #ffe, #fef

#explain .title
	color forestgreen


#startProof
	text-align center
	font-fun()
	font-size 28px
	color blue
#startProof:hover
	color cyan
	cursor pointer


.md code
	font-code()
	grad-bg #ffffc0, #ffc080
	border-radius 1em
	padding-x 0.2em

.md .CodeMirror
	centered()
	width 400px
	border-radius 20px

#hint
	grad-bg #fef, #eff

.checkResult
	text-align center

#checkSuccess
	@extend .checkResult
	font-message()
	background radial-gradient(#dfb 50%, #ffd)

#nextExercise
	text-decoration none

#checkFail
	@extend .checkResult
	background radial-gradient(#fcc 50%, #f88)


.checkFailLine
	font-line-number()
	color red
	margin 10px
	vertical-align middle
	font-size 150%

.checkFailExplain
	font-fail()
	font-size 20px
	font-weight bold
