denseText()
	font-family Philosopher

title()
	// font-family Parisienne
	font-family 'Clicker Script'

code()
	// font-family 'Nova Mono'
	// font-family 'Cutive Mono'
	font-family 'Droid Sans Mono'


character()
	font-family Aclonica
	font-weight bold

lineNumber()
	font-family 'Open Sans'
	font-weight bold

message()
	// font-family 'Open Sans'
	font-family Convergence

number()
	font-family 'Open Sans'
	font-weight bold

formTitle()
	font-family Aclonica
