font-dense-text()
	font-family Philosopher

font-title()
	// font-family Parisienne
	font-family 'Clicker Script'

font-code()
	// font-family 'Nova Mono'
	// font-family 'Cutive Mono'
	font 'Droid Sans Mono'

font-fail()
	font-family 'Berkshire Swash'

font-character()
	font-family Aclonica
	font-weight bold

font-line-number()
	font-family Philosopher
	ont-weight bold

font-message()
	// font-family 'Open Sans'
	font-family Convergence

font-number()
	font-family 'Open Sans'
	font-weight bold

font-form-title()
	font-family Aclonica

font-fun()
	font-family Montez
