@require 'layout'

#about
	grad-bg #ccf, #fff

#exercisesList
	grad-bg #eff, #ffe

#freePlay
	text-align center
	font-fun()
	font-size 28px
#freePlay a
	text-decoration none
#freePlay a:hover
	color cyan

#exerciseTable
	background-color #f0f1
	margin 5px
	padding 5px
	border-radius 20px
	centered()
.exerciseNumber
	width 30px
	text-align center
.exerciseNumber a
	font-number()
	text-align center
	text-decoration none
.exerciseNumber a:hover
	color cyan

#controls
	grad-bg paleGreen, lavender

#controls div
	text-align center

#aboutKeys
	centered()
	margin-y 10px
	text-align center

#aboutKeys td
	padding 5px

.key
	font-character()
	width 30px
