@require 'layout'

#about
	background linear-gradient(0deg, #ccf, #fff)

#controls
	background-color cyan

#contact
	background-color yellow



#exercisesList
	background linear-gradient(135deg, #eff, #ffe)

#freePlay
	text-align center
	font-fun()
	font-size 28px
#freePlay a
	text-decoration none
#freePlay a:hover
	color cyan

#exerciseTable
	background-color #fff8
	padding 10px
	border-radius 20px
	centered()
.exerciseNumber
	width 30px
	text-align center
.exerciseNumber a
	font-number()
	text-align center
	text-decoration none
.exerciseNumber a:hover
	color cyan


#aboutKeys
	centered()
	margin-y 10px
	text-align center

#aboutKeys td
	padding 5px

.key
	font-character()
	width 30px
