@require 'font'

html
	height 100%

body
	denseText()
	background linear-gradient(-45deg, #bbb, #ddd)
	background-repeat no-repeat
	background-attachment fixed
	margin 0
	height 100%

#cover
	position fixed
	height 100%
	width 100%
	top 0
	left 0
	background white
	z-index 99

