extends layout

block style
	// codemirror.css must come first; I overwrite some properties.
	link(rel='stylesheet', href='/style/vendor/codemirror.css')
	link(rel='stylesheet', href='/style/free.css')

block content
	div#buttonsContainer
		div#buttons
			button#checkButton(title='Check Proof')
				i(class='fa fa-check')
			a(href='..' target='_blank')
				button#aboutButton(title='About')
					i(class='fa fa-info-circle')
			button#loadButton(title='Load File')
				i(class='fa fa-cloud-upload')
			input#loadFile(type='file' accept='text' style='display:none')
			button#saveButton(title='Save File')
				i(class='fa fa-cloud-download')
			input#saveFile(type='file' accept='text' style='display:none')
	div#result
	div#codeContainer
		div#code
