doctype html
html
	head
		title Logic Online
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(rel='icon', href='/image/icon.png')
		link(rel='stylesheet', href='/style/vendor/codemirror.css')
		link(rel='stylesheet', href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css")
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Philosopher|Droid+Sans+Mono|Convergence|Clicker+Script|Open+Sans:700|Aclonica|Montez|Berkshire+Swash')
		block style
		script(src='/script/index.js')

	body
		div#cover
		block content
